<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
          <video controls >
         <source src="leandro.mp4" type="video/mp4">
         <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
      </video>

    </div>
  </div>
  <div class="panel-footer">Panel footer</div>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <!-- <div class="panel-heading">Panel heading</div> -->

  <!-- Table -->
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-8" scope="col">Descrição</th>
      <th class="col-md-4" scope="col">Visualizações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <th scope="row">1</th>
    </tr>
    <tr>
      <td>Mark</td>
      <th scope="row">1</th>
    </tr>
    <tr>
      <td>Mark</td>
      <th scope="row">1</th>
    </tr>
  </tbody>

  </table>
</div>
