<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Vídeos</div>

  <!-- Table -->
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-8" scope="col">Descrição</th>
      <th class="col-md-2" scope="col">Visualizações</th>
      <th class="col-md-1" scope="col"></th>
      <th class="col-md-1" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Mark</td>
      <td>
        <%= link_to new_movie_path(), class:"btn btn-warning" do%>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <% end %>
      </td>
      <td>
        <%= link_to new_movie_path(), class:"btn btn-danger" do%>
              <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Mark</td>
      <td>Mark</td>
      <td>Mark</td>
      <td>Mark</td>
    </tr>
    <tr>
      <td>Mark</td>
      <td>Mark</td>
      <td>Mark</td>
      <td>Mark</td>
    </tr>
  </tbody>

  </table>
</div>
